@font-face {
    font-family: "Unscii";
    src: url("unscii.woff");
}

html {
  background: url(5.png) no-repeat center fixed;
  background-size: contain;
  background-color:black;
  text-align:center;
  font-family:monospace;
  font-size: 80px;
  text-decoration: none;
}

.btext a {
    color: rgba(0,0,0,0);
}


.btext:hover a {
    text-decoration: none;
    font-family:"Unscii", monospace;
    color: red;
}
