@font-face {
    font-family: "unscii16";
    src: url("unscii-16.ttf") format("ttf");
}

html {
    background: url(1.png) no-repeat center fixed;
    background-size: contain;
    background-color:black;
    text-align:center;
    font-family:"unscii16",monospace;
    font-size: 80px;
    text-decoration: none;
}

.btext a {
    color: rgba(0,0,0,0);
}


.btext:hover a {
    text-decoration: none;
    font-family:"unscii16", monospace;
    color: red;
}
