body {
  background-size: cover;
  color: rgba(255, 99, 71, 0);
  text-align:center;
  font-family: Verdana;
  box-sizing: border-box;
}

a {
    color: orange;
    text-decoration:none;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: orange;
    text-decoration:none;
    font-weight: bold;
    border-bottom: 1px solid orange;
    cursor:pointer;
}

details {
    color:orange;
}

.content {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.6);
  overflow: auto;
  border-style:solid;
  border-color:#f0a000 transparent;
}

.content-left {
    display: inline-block;
    text-align: left;
    margin:auto;
    padding:20px;
    margin-top:20px;
    background-color: rgba(0,0,0,0.6);
    overflow:auto;
    border-style:solid;
    border-color:#f0a000 transparent;
}

.nonborderedcontent {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.6);
  overflow: auto;
}

.nonborderedcontent-left {
    text-align:left;
    margin:auto;
    padding:20px;
    margin-top:20px;
    background-color: rgba(0,0,0,0.6);
    overflow:auto;
    align:left;
}

.navbar {
  margin-top: none;
  padding: 10px;
}

.navbar ul {
  padding-left: 0px;
  margin: 0px;
}

.navbar li {
  display: inline-block;
}

.navbar li + li {
  margin-left: 10px;
}
