<pre><em>b o t t o m  t e x t<br><br />Welcome to share anything here without my face in it.<br> So long as you provide proper attributions where you post my image it is alright.</em></pre>
<pre><a href="https://gnu3.xyz/" title="Home">Home Page</a>
<a href="https://gnu3.xyz/contact.html" title="Contact">Contact</a></pre>
</body>
</html>
